@import '~antd/dist/antd.css';

/* .App {
  text-align: center;


  margin: 0 0 16px 0;
  padding: 8px 24px;
} */

/* #components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
} */

/* Overriden properties */

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab, 
.ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
  display: block;
  float: none;
  margin: 0 0 16px 0;
  padding: 8px 16px 24px 0;
}

.ant-card-body {
  padding: 10px;
}

.antTrackCompareRow {
  /* font-size: 8px; */
}

thead.ant-table-thead {
  /* font-size: 10px; */
}

.ant-menu.ant-menu-dark .ant-menu-item-selected.customSelected {
  background-color: rgb(154, 21, 22);
}

.ant-menu-dark .ant-menu-sub {
  background-color: rgb(41,49,112);
}

.trackModalLI {
  padding: 5px 0;
}
.trackModalLI ~ .trackModalLI {
  border-top: .5px solid lightgray;
}
